{
	"printWidth": 120,
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "none",
	"plugins": ["prettier-plugin-tailwindcss"],
	"tailwindStylesheet": "./app/globals.css"
}
